<a href="https://colab.research.google.com/github/Aniram2024/Python-for-Data-Analyses/blob/main/hw_1_2_1_%D0%A1%D0%BF%D0%B8%D1%81%D0%BA%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Домашнє завдання до теми "Списки"

У нас є наступний список:

In [1]:
my_list = [
    78, 12, 14, 27, 47, 28, 51, 46, 94, 37, 42, 20, 52, 33, 11, 11, 51,
    20, 81, 54, 86, 51, 38, 42, 49, 99, 76, 17,  9, 23, 97, 29, 29, 63,
    40, 11, 31, 76, 15, 21, 29, 75, 35,  2, 10, 71, 17, 10, 13,  7, 44,
    12, 19, 61, 13, 25, 62, 46, 10, 44, 75, 57, 20, 57,  3, 44, 16, 28,
    79, 57, 62, 70, 95,  8, 47, 82, 80, 45, 36, 44, 79, 95, 73, 42, 29,
    83, 80, 66, 56,  8, 73,  5, 99, 65, 65, 98, 17, 36, 16, 60
]

Будемо з ним працювати в наступних завданнях.

1. Виведіть 5 перших елементів списку `my_list` з допомогою слайсингу.

In [3]:
my_list[:5]

[78, 12, 14, 27, 47]

Очікувана відповідь: [78, 12, 14, 27, 47]

2. Виведіть 3 останніх елементи списку `my_list` з допомогою слайсингу.

In [6]:
my_list[-3:]

[36, 16, 60]

3. Відсортуйте за зростанням список `my_list`, запишіть результат у змінну `my_list_sorted` та виведіть значення нової змінної на екран.

In [12]:
my_list.sort()

In [14]:
sorted(my_list)

[2,
 3,
 5,
 7,
 8,
 8,
 9,
 10,
 10,
 10,
 11,
 11,
 11,
 12,
 12,
 13,
 13,
 14,
 15,
 16,
 16,
 17,
 17,
 17,
 19,
 20,
 20,
 20,
 21,
 23,
 25,
 27,
 28,
 28,
 29,
 29,
 29,
 29,
 31,
 33,
 35,
 36,
 36,
 37,
 38,
 40,
 42,
 42,
 42,
 44,
 44,
 44,
 44,
 45,
 46,
 46,
 47,
 47,
 49,
 51,
 51,
 51,
 52,
 54,
 56,
 57,
 57,
 57,
 60,
 61,
 62,
 62,
 63,
 65,
 65,
 66,
 70,
 71,
 73,
 73,
 75,
 75,
 76,
 76,
 78,
 79,
 79,
 80,
 80,
 81,
 82,
 83,
 86,
 94,
 95,
 95,
 97,
 98,
 99,
 99]

4. Виведіть максимальний і мінімальний елемент у списку `my_list`. Сформуйте відповідь у наступному форматі
```
Max element  <число>
Min element  <число>
```
Можна скористатись результатом з попереднього завдання, або спеціальними фукнціями.

In [55]:
Max_element = max(my_list)
Min_element = min(my_list)

In [48]:
display (

    max(my_list),
    min(my_list))

99

2

Очікувана відповідь:

```
Max element  99
Min element  2
```

5. Створіть новий список `my_list_2`, який містить кожен 11-й елемент списку `my_list`. Виведіть `my_list_2` на екран.  
Памʼятаємо, що перший з "кожного одинадцятого елементу" списку має індекс 10.
Для виконання завдання використайте слайсинг.

In [128]:
my_list = list(range(100))

In [131]:
my_list_2 = my_list[10:100:11]

In [132]:
print(my_list_2)

[10, 21, 32, 43, 54, 65, 76, 87, 98]

Очікуваний результат: `[42, 51, 29, 2, 13, 44, 80, 66, 16]`