<a href="https://colab.research.google.com/github/Aniram2024/Python-for-Data-Analyses/blob/main/hw_1_1_1_1_1_2_C%D0%B8%D0%BD%D1%82%D0%B0%D0%BA%D1%81%D0%B8%D1%81_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Створіть змінну, яка буде зберігати кількість яблук. І надайте їй значення 5. Виведіть значення змінної на екран.

In [15]:
quantity_of_apples = 5

2. Виведіть тип змінної, створеної в завданні (1).

In [21]:
print(quantity_of_apples)

5

In [20]:
print(type (quantity_of_apples))

<class 'int'>

3. Додайте до значення змінної, створеної в завданні (1) число `12` і виведіть результат на екран з допомогою команди `print()`.

In [23]:
result = quantity_of_apples + 12
print (result)

17

4. Запустіть код нижче аби створити дві змінні.

In [10]:
a = 48
b = 3

Створіть нову клітинку нижче цієї з допомогою натискання англійської літери `B`, коли ви НЕ в режимі редагування клітинки. В створеній клітинці створіть змінну `c`, яка буде містити результат ділення `a` на `b`.

In [12]:
c = a / b

In [43]:
a = 48
b = 3
c = a / b

In [48]:
print (a)
print (type(a))
print (b)
print (type (b))
print (c)
print (type (c))
# variables a and b have integers of 48 and 3 and variable c has floating-point number

48
<class 'int'>
3
<class 'int'>
16.0
<class 'float'>

Створіть ще одну нову клітинку, тільки тепер вище цієї. Для цього натисніть  англійську літеру `A`, коли ви НЕ в режимі редагування клітинки. Виведіть в новоствореній клітинці значення і тип кожної зі змінних `a`, `b`, `c`. Проаналізуйте результат.

У Python, коли ви ділите одне ціле число на інше, результат буде автоматично приведений до типу float, якщо він не є цілим числом. Це робиться для того, щоб забезпечити більш точний результат ділення, особливо коли результат міг би бути десятковим числом.

5. Перегляньте наступний код, подумайте, що він виведе в результаті, та потім, запустіть його.

In [14]:
a = 10
a = 12
a = 15

b = 4
b = 8
b = 14

c = 3
c = 6
c = 9


a + b + c

38

В клітинці нижче закоментуйте деякі рядки так, аби в результаті виконання останнього рядка коду (`a + b + c`) вивелось `17`.
Увага! Рядки треба саме закоментувати, а не видалити.
Можна зручно коментувати рядки з допомогою комбінації клавіш `Ctrl + /` (`Command + /` для Mac)

In [49]:
a = 10
# a = 12 # on stand by
# a = 15 # as well on stand by

b = 4
# b = dont sum yet
# b = 14 do not touch

c = 3
# c = 6 same as above
# c = 9 same as above


a + b + c

17